.images {
    background: #2a2d32;
    padding-top: 50px;
    /*padding-bottom: 65px;*/
}
.images p {
    font-family: 'ubuntumedium' sans-serif;
    color:  #ffffff;
    font-size: 24px;
    padding-bottom: 50px;
}
.images_foto {
    float: left;
    padding: 0 15px 0 15px;
}
.tire {
    text-align: center;
}
.tire a {
    font-family: 'ubuntumedium' sans-serif;
    color:  #ffffff;
    font-size: 16px;
    padding-top: 10px;
}
.tire a:hover {
    color:  #f4b60d;
}