* {
    margin: 0 ;
    padding: 0 ;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.slider {
    background: yellow;
}

.mySlider {
    width: 600px;
    height: 600px;
    overflow: hidden;
    float: left;
    border: 5px solid beige;
    border-radius: 12px;
}
.slide_list {
    list-style: none;
    width: 10000px;
    position: relative;
}
.elem_slide {
    display: block;
    float: left;
}
.elem_slide img {
    width: 600px;
    height: 600px;
}
.scroll_left, .scroll_right {
    float: left;
    padding: 300px 50px;
    cursor: pointer;
}

h2 {
    color: green;
    text-align: center;
}
span {
    font-size: 30px;
}
a {
    padding-left: 79px;
    text-decoration: blink;
    font-size: 25px;
    color: yellowgreen;
     padding-bottom: 15px;
}
p {
    padding-bottom: 15px;
    font-size: 20px;
}
.news {
    border: 1px solid;
    margin: 10px 20px;
    padding: 10px 31px;
}
.more {
    border: 1px solid black;
    padding: 0;
    background: blue;
    color: black;
}