.search{
  display: block;
      text-align: center;
  padding-bottom: 40px;
  border-bottom: 3px solid $red;
  margin-bottom: 10px
}
.search__title{
  display: inline-block;
  font-size: 23px;
  color: $dark_grey;
  text-align: center;
  padding: 40px 25px 15px 25px;
  margin: 0;
  font-family: 'robotolight', sans-serif;
  @media #{$large-up} {
       display: inherit;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 20px;
      }
      @media #{$large-up} {
   display: inherit;
  text-align: center;
  padding-bottom: 40px;
  font-size: 26px;
  }
}
.search__text{
  font-size: 18px;
  padding-bottom: 13px;
  display: block;
  text-align: center;
  font-family: 'robotolight', sans-serif;
  @media #{$large-up} {
  text-align: center;
  padding-bottom: 30px;
  }
}
.search__form{
      text-align: center;
       @media #{$large-up} {
   text-align: center;
  display: block;
   }
}
.search__form input{
      width: 240px;
    height: 40px;
    background: #fff;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 12px;
    padding-left: 10px;
}
.search__form button{
  background-color: $red;
  color: $white;
  border: 2px solid $red; 
  padding: 12px 105px;
  border-radius: 33px;
  font-family: 'robotolight', sans-serif;
   @media #{$large-up} {
  padding: 12px 30px;
  margin-left: 15px;
   }
}
.search__form button:hover{
  background-color: rgba(243,152,162,0.7);
 
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

