@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    cursor: pointer;
    color: #fff;
}
li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
body, html {
    height: 100%;
    min-width: 320px;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}
.w1 {
    width: 960px;
    margin: 0 auto;
}
.section_one {
    background: url("../img/sec_one.jpg") no-repeat 44% 24%;
    padding-bottom: 127px;
}
.header {
    padding-top: 70px;
}
.logo {
    float: left;
    display: inline-block;
    padding-right: 240px;
}
.nav {
  margin-bottom: 162px;
  padding: 0;
}
.menu {
  font-size: 0;
}
.dropdown {
    display: none;
}
.nav li {
    display: inline-block;
    padding-right: 35px;
    font-family: 'league_gothicregular';
    font-size: 21px;
    text-transform: uppercase;
}
.nav li a {
    color: #fff;
     text-decoration: none;
}
.nav li a:hover {
    border-bottom: 2px solid #edbfff;
}
.main-description{
    padding-top: 90px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 58px;
}
.drop-down__menu {
    display: none;
}

.text_title {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-transform: capitalize;
}
.text_subtitle {
    font-size: 19px;
    color: #edbfff;
    padding-bottom: 10px;
}
.text_main-description p {
    font-family: "Open Sans";
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}
.text_main-description {
    width: 50%;
    float: left;
}

.phone {
    float: left;
    position: absolute;
}

.phone img {
    position: absolute;
    top: -100px;
    left: 570px;
}

.section_two {
    padding-top: 44px;
    padding-bottom: 66px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#745083+0,322539+100 */
    background: rgb(116, 80, 131); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745083', endColorstr='#322539', GradientType=0); /* IE6-9 */

}

.subtitle {
    font-family: 'open_sansregular';
    color: #ffffff;
    font-size: 16px;
}

.title {
    font-family: 'LeagueGothic sans-serif';
    color: #ffffff;
    font-size: 23px;  
}

.block a {
    font-family: 'open_sansregular';
    color: #ffffff;
    font-size: 18px; 
    float: right;
    text-decoration: none;
}
.block a:hover {
     text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.block {
    float: left;
    width: 33%;
    padding-left: 50px;
    padding-right: 10px;
}

.block img {
    position: relative;
    top: 25px;
    right: 45px;
}

.section_three {
    background: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 94px;
    border-bottom: 2px solid #e6e6e6;
}

.ping {
    width: 44%;
    float: left;
    background: #ffffff;
    margin-left: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recent {
    width: 50%;
    float: left;
    padding-left: 60px;
}

.starts {
    font-size: 24px;
    color: #edbfff;
    
}

.pingbuller {
    font-size: 24px;
}

.ping img {
    position: relative;
    right: 25px;
    float: left;
}

.pingTitle {
    padding-top: 10px;
}

.ping p {
   
    font-family: "Open-Sans", Arial, sans-serif;
    font-size: 16px;
    color: #686868;
    padding-left: 40px;
    padding-right: 40px;
}

.three {
    position: relative;
    left: 360px;
    top: 40px;
}
.three img {
    position: relative;
    right: 25px;
    float: left;
}

.recent {
    padding-top: 20px;
}

.nuns {
    padding-top: 10px;
}

.foto {
    float: left;
}

.nums_text {
    float: left;
    padding-top: 2px;
}

.nums_text a {
    font-family: OpenSans sans-serif;
    color:  #454545;
    font-size: 16px;
    
    text-decoration: none;
}

.nums_text p {
    font-family: OpenSans sans-serif;
    color: #454545;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
}

.section_fo {
    padding-top: 20px;
    background: #f9f9f9;
    padding-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
}
.sign {
    float: right;
}
.sign a {
    color: #454545;
    font-size: 18px;
    text-decoration: none;
}
.sign a:hover {
        opacity: .7;
}
.sponsor li {
    float: left;
    list-style: none;
    padding-left: 19px;

}
.sponsor a{
    float: left;
    list-style: none;
    padding-left: 70px;
    display: inline-block;
    padding: 25px 34px;
    vertical-align: middle;
}
.link {
    background-color: #ececec;
    padding-top: 100px;
    padding-bottom: 90px;
}

.link_one {
    width: 33%;
    float: left;
    padding-right: 10px;
}

.pig {
    font-size: 48px;
    color: #454545;
}

.link_one p {
    font-family: Georgia, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
    padding-bottom: 15px;
}

.nunc {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #787878;
}

.er {
    color: #bcbcbc;
    font-size: 48px;
}

.link_two {
    width: 33%;
    float: left;
    padding-right: 10px;
}

.two_title {
    font-size: 30px;
    color: #454545;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.link_two p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #787878;
}
.link_three {
    width: 33%;
    float: left;
}

.footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 33px 0 25px;
    background-position: center center;
    background-size: cover;
    background: url("../img/footer_bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer_menu {
    float: left;
}

.footer_menu li {
    float: left;
    list-style: none;
    padding-right: 30px;

}
.footer ul {
    padding: 30px 10px;
}
.footer a {
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.footer_menu a:hover {
    border-bottom: 2px solid #edbfff;
}

.footer_span {
    font-family: "Open-Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    color: #686868;
    padding-top: 33px;
    padding-right: 20px;
    float: right;
}
.footer_span p {
    font-family: OpenSans sans-serif;
    font-size: 13px;
    color: #fff;
}
.footer_span a {
    font-family: "Open-Sans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
}
@media(max-width: 960px) {
    .w1 {
        width: 728px;
        margin: 0 auto;
    }
    .section_one {
        background: url("../img/sec_one.jpg") no-repeat 50% 0%;
        padding-bottom: 161px;
    }
    .logo {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    .nav {
        padding-left: 0;
    }
    .pingbuller {
        font-size: 19px;
    }

    .starts {
        font-size: 19px;
    }
    .recent {
        width: 52%;
    }
    .nums_text p {
        font-size: 11px;
    }
    .sponsor li {
        padding-left: 32px;
    }
    .text_title {
    font-size: 34px;
}
.text_subtitle {
    font-size: 14px;
}
    .sponsor a {
               padding: 24px 8px;

    }
    .pig {
        font-size: 20px;
    }
    .er {
        font-size: 20px;
    }
    .link_two h2 {

        font-size: 20px;

    }
    .nums_text {
        float: none;
    }
    .text span {
        font-size: 15px;
    }
    .phone img {
        bottom: 112px;
        left: 440px;
    }
    .ping {
        width: 43%;
    }
     .three img {
        right: 140px;
  }
  .footer_menu li {
    padding-right: 15px;
}
.footer a {
    font-size: 15px;

   
}
@media(max-width: 768px) {
    .w1 {
        width: 440px;
        margin: 0 auto;
    }
    .section_one {
    padding-bottom: 98px;
}
.header {
    padding-bottom: 100px;
    text-align: center;
}
.logo {
    padding-right: 0; 
}
.menu li {
    display: block;
}
.sponsor a {
        padding: 24px 34px;
}
.drop-down__menu {
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -120px;
        display: block;
        border-radius: 8px;
        text-align: center;
        z-index: 100;
        top: 145px;
        
    }
    .drop-down__menu:hover {
        border: 1px solid black;
        background: rgba(74, 62, 81, 0.8);
        text-decoration: none;
    }
    .menu-home {
        width: 299px;
        padding: 3px;
        font-size: 24px;
        display: block;
        color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0);
    }
    .menu-home a{
        color: #fff;
    }

    .menu-home:hover{
        background: #2b2230;
        border-bottom: 2px solid #edbfff;
     

    }
    .drop-down li:hover{
        background: #483b4e;
        text-decoration: none;
       /* border-bottom: 2px solid #edbfff;
        background: rgba(68, 54, 74, 0.9);*/
        /*border-top: 1px solid #513d58;
        border-bottom: 2px solid #36283e;*/
        background: #2b2231;
        border-bottom: 2px solid #edbfff;
        border-top: 2px solid #2e2534;

    }
    .menu-home:hover + ul {
        display: block;
        background: rgba(74, 62, 81, 0.1);
    }
    .drop-down {
        display: none;
    }
    .drop-down:hover {
        display: block;

    }
    .drop-down li {
        border-top: 1px solid #513d58;
        border-bottom: 2px solid #36283e;
        padding: 3px 50px;
        /*background: #483b4e;*/

    }
    .drop-down a {
        font-size: 24px;
        color: #fff;
        text-decoration: none;
    }
    .nav {
    display: none;
    }
    .text_main-description {
        width: 65%;
    }
    .text_title {
        font-size: 20px;
    }
    .text_main-description p {
        display: none;
    }
    .text_subtitle {
     font-size: 11px;

    }
    .main-description {
        padding-bottom: 79px;
    }
    .text span {
        font-size: 9px;
    }

    .phone img {
        left: 239px;
        width: 192px;
    }
    .block {
        width: 100%;
    }
    .ping {
        width: 92%;
    }
    .recent {
        width: 100%;
    }
    .link_one {
        width: 100%;
        float: left;
        padding-right: 10px;
    }
    .link_two {
        width: 100%;
       padding-top: 10px;
    }
    .pig {
    font-size: 38px;
}
.sponsor ul li {
    padding-left: 0;
}
.er {
    font-size: 38px;
}
    .footer_menu li {
        padding-right: 12px;
    }
    .footer_span {
        padding-right: 130px;
    }
  
}
@media(max-width: 480px) {
    .w1 {
        width: 280px;
        margin: 0 auto;

    }
    .main-description {
        background: none;
        padding-bottom: 0px;
    }
    .logo {
    
    padding-bottom: 0px;
}
.phone {
    display: none;
}
.text_main-description {
    width: 100%;
    text-align: center;
}
   .spinsor {
    text-align: center;
   }

   .sponsor a {
    padding: 25px 8px;

   }
   .footer_menu {
    display: none;
}
.ping {
    margin-left: o; 
}
.text {
    width: 100%;
}
.text_title {
    color: #fff;
}
.recent {
    width: 100%;
    padding-left: 0;
}
.link {
    display: none;
}
.text_main-description p {
    display: none;
}
.footer_span {
    padding: 0;
    float: none;
    text-align: center;
}
.section_fo {
    text-align: center;
}
    
}








