/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$facebook-name: 'facebook';
$facebook-x: 20px;
$facebook-y: 50px;
$facebook-offset-x: -20px;
$facebook-offset-y: -50px;
$facebook-width: 8px;
$facebook-height: 16px;
$facebook-total-width: 72px;
$facebook-total-height: 66px;
$facebook-image: '../images/sprites.png';
$facebook: (20px, 50px, -20px, -50px, 8px, 16px, 72px, 66px, '../images/sprites.png', 'facebook', );
$front-email-name: 'front email';
$front-email-x: 56px;
$front-email-y: 0px;
$front-email-offset-x: -56px;
$front-email-offset-y: 0px;
$front-email-width: 16px;
$front-email-height: 12px;
$front-email-total-width: 72px;
$front-email-total-height: 66px;
$front-email-image: '../images/sprites.png';
$front-email: (56px, 0px, -56px, 0px, 16px, 12px, 72px, 66px, '../images/sprites.png', 'front email', );
$i-phone-potrait-1-name: 'iPhone potrait (1)';
$i-phone-potrait-1-x: 0px;
$i-phone-potrait-1-y: 50px;
$i-phone-potrait-1-offset-x: 0px;
$i-phone-potrait-1-offset-y: -50px;
$i-phone-potrait-1-width: 10px;
$i-phone-potrait-1-height: 16px;
$i-phone-potrait-1-total-width: 72px;
$i-phone-potrait-1-total-height: 66px;
$i-phone-potrait-1-image: '../images/sprites.png';
$i-phone-potrait-1-: (0px, 50px, 0px, -50px, 10px, 16px, 72px, 66px, '../images/sprites.png', 'iPhone potrait (1)', );
$linkedin-name: 'linkedin';
$linkedin-x: 30px;
$linkedin-y: 0px;
$linkedin-offset-x: -30px;
$linkedin-offset-y: 0px;
$linkedin-width: 16px;
$linkedin-height: 15px;
$linkedin-total-width: 72px;
$linkedin-total-height: 66px;
$linkedin-image: '../images/sprites.png';
$linkedin: (30px, 0px, -30px, 0px, 16px, 15px, 72px, 66px, '../images/sprites.png', 'linkedin', );
$location-name: 'location';
$location-x: 56px;
$location-y: 22px;
$location-offset-x: -56px;
$location-offset-y: -22px;
$location-width: 12px;
$location-height: 16px;
$location-total-width: 72px;
$location-total-height: 66px;
$location-image: '../images/sprites.png';
$location: (56px, 22px, -56px, -22px, 12px, 16px, 72px, 66px, '../images/sprites.png', 'location', );
$rss-name: 'rss';
$rss-x: 30px;
$rss-y: 25px;
$rss-offset-x: -30px;
$rss-offset-y: -25px;
$rss-width: 15px;
$rss-height: 15px;
$rss-total-width: 72px;
$rss-total-height: 66px;
$rss-image: '../images/sprites.png';
$rss: (30px, 25px, -30px, -25px, 15px, 15px, 72px, 66px, '../images/sprites.png', 'rss', );
$skype-name: 'skype';
$skype-x: 0px;
$skype-y: 24px;
$skype-offset-x: 0px;
$skype-offset-y: -24px;
$skype-width: 16px;
$skype-height: 16px;
$skype-total-width: 72px;
$skype-total-height: 66px;
$skype-image: '../images/sprites.png';
$skype: (0px, 24px, 0px, -24px, 16px, 16px, 72px, 66px, '../images/sprites.png', 'skype', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 0px;
$twitter-offset-x: 0px;
$twitter-offset-y: 0px;
$twitter-width: 20px;
$twitter-height: 14px;
$twitter-total-width: 72px;
$twitter-total-height: 66px;
$twitter-image: '../images/sprites.png';
$twitter: (0px, 0px, 0px, 0px, 20px, 14px, 72px, 66px, '../images/sprites.png', 'twitter', );
$facebook-2x-name: 'facebook@2x';
$facebook-2x-x: 164px;
$facebook-2x-y: 0px;
$facebook-2x-offset-x: -164px;
$facebook-2x-offset-y: 0px;
$facebook-2x-width: 16px;
$facebook-2x-height: 33px;
$facebook-2x-total-width: 180px;
$facebook-2x-total-height: 132px;
$facebook-2x-image: '../images/sprites@2x.png';
$facebook-2x: (164px, 0px, -164px, 0px, 16px, 33px, 180px, 132px, '../images/sprites@2x.png', 'facebook@2x', );
$front-email-2x-name: 'front email @2x';
$front-email-2x-x: 112px;
$front-email-2x-y: 50px;
$front-email-2x-offset-x: -112px;
$front-email-2x-offset-y: -50px;
$front-email-2x-width: 32px;
$front-email-2x-height: 25px;
$front-email-2x-total-width: 180px;
$front-email-2x-total-height: 132px;
$front-email-2x-image: '../images/sprites@2x.png';
$front-email-2x: (112px, 50px, -112px, -50px, 32px, 25px, 180px, 132px, '../images/sprites@2x.png', 'front email @2x', );
$i-phone-potrait-2x-name: 'iPhone potrait@2x';
$i-phone-potrait-2x-x: 44px;
$i-phone-potrait-2x-y: 100px;
$i-phone-potrait-2x-offset-x: -44px;
$i-phone-potrait-2x-offset-y: -100px;
$i-phone-potrait-2x-width: 20px;
$i-phone-potrait-2x-height: 32px;
$i-phone-potrait-2x-total-width: 180px;
$i-phone-potrait-2x-total-height: 132px;
$i-phone-potrait-2x-image: '../images/sprites@2x.png';
$i-phone-potrait-2x: (44px, 100px, -44px, -100px, 20px, 32px, 180px, 132px, '../images/sprites@2x.png', 'iPhone potrait@2x', );
$linkedin-2x-name: 'linkedin@2x';
$linkedin-2x-x: 60px;
$linkedin-2x-y: 0px;
$linkedin-2x-offset-x: -60px;
$linkedin-2x-offset-y: 0px;
$linkedin-2x-width: 32px;
$linkedin-2x-height: 31px;
$linkedin-2x-total-width: 180px;
$linkedin-2x-total-height: 132px;
$linkedin-2x-image: '../images/sprites@2x.png';
$linkedin-2x: (60px, 0px, -60px, 0px, 32px, 31px, 180px, 132px, '../images/sprites@2x.png', 'linkedin@2x', );
$location-2x-name: 'location@2x';
$location-2x-x: 0px;
$location-2x-y: 100px;
$location-2x-offset-x: 0px;
$location-2x-offset-y: -100px;
$location-2x-width: 24px;
$location-2x-height: 32px;
$location-2x-total-width: 180px;
$location-2x-total-height: 132px;
$location-2x-image: '../images/sprites@2x.png';
$location-2x: (0px, 100px, 0px, -100px, 24px, 32px, 180px, 132px, '../images/sprites@2x.png', 'location@2x', );
$rss-2x-name: 'rss@2x';
$rss-2x-x: 112px;
$rss-2x-y: 0px;
$rss-2x-offset-x: -112px;
$rss-2x-offset-y: 0px;
$rss-2x-width: 32px;
$rss-2x-height: 30px;
$rss-2x-total-width: 180px;
$rss-2x-total-height: 132px;
$rss-2x-image: '../images/sprites@2x.png';
$rss-2x: (112px, 0px, -112px, 0px, 32px, 30px, 180px, 132px, '../images/sprites@2x.png', 'rss@2x', );
$skype-2x-name: 'skype@2x';
$skype-2x-x: 0px;
$skype-2x-y: 48px;
$skype-2x-offset-x: 0px;
$skype-2x-offset-y: -48px;
$skype-2x-width: 32px;
$skype-2x-height: 32px;
$skype-2x-total-width: 180px;
$skype-2x-total-height: 132px;
$skype-2x-image: '../images/sprites@2x.png';
$skype-2x: (0px, 48px, 0px, -48px, 32px, 32px, 180px, 132px, '../images/sprites@2x.png', 'skype@2x', );
$twitter-2x-name: 'twitter@2x';
$twitter-2x-x: 0px;
$twitter-2x-y: 0px;
$twitter-2x-offset-x: 0px;
$twitter-2x-offset-y: 0px;
$twitter-2x-width: 40px;
$twitter-2x-height: 28px;
$twitter-2x-total-width: 180px;
$twitter-2x-total-height: 132px;
$twitter-2x-image: '../images/sprites@2x.png';
$twitter-2x: (0px, 0px, 0px, 0px, 40px, 28px, 180px, 132px, '../images/sprites@2x.png', 'twitter@2x', );
$spritesheet-width: 72px;
$spritesheet-height: 66px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($facebook, $front-email, $i-phone-potrait-1-, $linkedin, $location, $rss, $skype, $twitter, );
$spritesheet: (72px, 66px, '../images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 180px;
$retina-spritesheet-height: 132px;
$retina-spritesheet-image: '../images/sprites@2x.png';
$retina-spritesheet-sprites: ($facebook-2x, $front-email-2x, $i-phone-potrait-2x, $linkedin-2x, $location-2x, $rss-2x, $skype-2x, $twitter-2x, );
$retina-spritesheet: (180px, 132px, '../images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $facebook-2x, );
$front-email-group-name: 'front email';
$front-email-group: ('front email', $front-email, $front-email-2x, );
$i-phone-potrait-1-group-name: 'iPhone potrait (1)';
$i-phone-potrait-1-group: ('iPhone potrait (1)', $i-phone-potrait-1-, $i-phone-potrait-2x, );
$linkedin-group-name: 'linkedin';
$linkedin-group: ('linkedin', $linkedin, $linkedin-2x, );
$location-group-name: 'location';
$location-group: ('location', $location, $location-2x, );
$rss-group-name: 'rss';
$rss-group: ('rss', $rss, $rss-2x, );
$skype-group-name: 'skype';
$skype-group: ('skype', $skype, $skype-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-2x, );
$retina-groups: ($facebook-group, $front-email-group, $i-phone-potrait-1-group, $linkedin-group, $location-group, $rss-group, $skype-group, $twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
