<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<script type="text/html" id='test'>
            <form class="test" action="">
                <p class="title"><%= data.pageTitle %></p>
                <% for (var i = 0; i < data.categories.length; i++ ) { %>
                    <div class="block">
                        <p><%= data.categories[i].questionName%></p>
                        <ul>
                            <% for (var j = 0; j < data.categories[i].variant.length; j++) { %>
                                <li><label><input type="checkbox" name="<%= data.categories[i].inputName[j] %>"><span><%= data.categories[i].variant[j].answer %></span></label></li>
                            <% }; %>
                        </ul>
                    </div>
                <% }; %>
                <input  class="js-verify" type="submit" value="<%= data.result %>">
            </form>
    </script>
<script src="js/tmpl.js"></script>
<script src = "js/main.js"></script>
</body>
</html>